
<div class="add-npc-button-container">
	<button id="add-npc-button">+</button>
</div>

<div id="modal-backdrop" class="hidden"></div>
<div id="add-npc-modal" class="hidden">
	<div class="modal-dialog">

		<div class="modal-header">
			<hdex>Add a npc</hdex>
			<button type="button" class="modal-close-button">&times;</button>
		</div>

		<div class="modal-body">
			<div class="info-input-element">
				<label for="input-name">Name</label>
				<input type="text" id="input-name">
			</div>
			<div class="info-input-element">
				<label for="input-class">Class</label>
				<input type="text" id="input-class">
			</div>
			<div class="info-input-element">
				<label for="input-str">STR</label>
				<input type="text" id="input-str">
			</div>
			<div class="info-input-element">
				<label for="input-dex">DEX</label>
				<input type="text" id="input-dex">
			</div>
			<div class="info-input-element">
				<label for="input-con">CON</label>
				<input type="text" id="input-con">
			</div>
			<div class="info-input-element">
				<label for="input-int">INT</label>
				<input type="text" id="input-int">
			</div>
			<div class="info-input-element">
				<label for="input-wis">WIS</label>
				<input type="text" id="input-wis">
			</div>
			<div class="info-input-element">
				<label for="input-cha">CHA</label>
				<input type="text" id="input-cha">
			</div>
			<div class="info-input-element">
				<label for="input-description">Description</label>
				<input type="text" id="input-description">
			</div>
			<div class="info-input-element">
				<label for="input-race">Race</label>
				<input type="text" id="input-race">
			</div>
			<div class="info-input-element">
				<label for="input-alignment">Alignment</label>
				<input type="text" id="input-alignment">
			</div>
			<div class="info-input-element">
				<label for="input-ac">AC</label>
				<input type="text" id="input-ac">
			</div>
			<div class="info-input-element">
				<label for="input-attacks">Attacks</label>
				<input type="text" id="input-attacks">
			</div>
			<div class="info-input-element">
				<label for="input-skills">Skills</label>
				<input type="text" id="input-skills">
			</div>
			<div class="info-input-element">
				<label for="input-feats">Feats</label>
				<input type="text" id="input-feats">
			</div>
			<div class="info-input-element">
				<label for="input-hp">HP</label>
				<input type="text" id="input-hp">
			</div>
			<div class="info-input-element">
				<label for="input-hd">HD</label>
				<input type="text" id="input-hd">
			</div>
			<div class="info-input-element">
				<label for="input-clothing">Clothing</label>
				<input type="text" id="input-clothing">
			</div>
			<div class="info-input-element">
				<label for="input-gear">Gear</label>
				<input type="text" id="input-gear">
			</div>
			<div class="info-input-element">
				<label for="input-platinum">Plat</label>
				<input type="text" id="input-platinum">
			</div>
			<div class="info-input-element">
				<label for="input-gold">Gold</label>
				<input type="text" id="input-gold">
			</div>
			<div class="info-input-element">
				<label for="input-silver">Silver</label>
				<input type="text" id="input-silver">
			</div>
			<div class="info-input-element">
				<label for="input-copper">Copper</label>
				<input type="text" id="input-copper">
			</div>
			<div class="info-input-element">
				<label for="input-iron">Iron</label>
				<input type="text" id="input-iron">
			</div>
			<div class="info-input-element">
				<label for="input-positive">Positive Reactions</label>
				<input type="text" id="input-positive">
			</div>
			<div class="info-input-element">
				<label for="input-negative">Negative Reactions</label>
				<input type="text" id="input-negative">
			</div>
			<div class="info-input-element">
				<label for="input-goal">Current Goal</label>
				<input type="text" id="input-goal">
			</div>
			<div class="info-input-element">
				<label for="input-language">Languages Known</label>
				<input type="text" id="input-language">
			</div>
			<div class="info-input-element">
				<label for="input-traits">Traits</label>
				<input type="text" id="input-traits">
			</div>
			<div class="info-input-element">
				<label for="input-notes">Notes</label>
				<input type="text" id="input-notes">
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="modal-cancel-button">Cancel</button>
			<button type="button" class="modal-accept-button">Add npc</button>
		</div>
	</div>
</div>

