<div class="add-location-button-container">
	<button id="add-location-button">+</button>
</div>

<div id="modal-backdrop" class="hidden"></div>
<div id="add-location-modal" class="hidden">
	<div class="modal-dialog">

		<div class="modal-header">
			<h3>Add a location</h3>
			<button type="button" class="modal-close-button">&times;</button>
		</div>

		<div class="modal-body">
			<div class="info-input-element">
				<label for="input-name">Name</label>
				<input type="text" id="input-name">
			</div>
			<div class="info-input-element">
				<label for="input-terrain">Terrain</label>
				<input type="text" id="input-terrain">
			</div>
			<div class="info-input-element">
				<label for="input-alignment">Alignment</label>
				<input type="text" id="input-alignment">
			</div>
			<div class="info-input-element">
				<label for="input-inventory">Inventory</label>
				<input type="text" id="input-inventory">
			</div>
			<div class="info-input-element">
				<label for="input-notes">Notes</label>
				<input type="text" id="input-notes">
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="modal-cancel-button">Cancel</button>
			<button type="button" class="modal-accept-button">Add location</button>
		</div>
	</div>
</div>