<div class="add-town-button-container">
	<button id="add-town-button">+</button>
</div>

<div id="modal-backdrop" class="hidden"></div>
<div id="add-town-modal" class="hidden">
	<div class="modal-dialog">

		<div class="modal-header">
			<h3>Add a Town</h3>
			<button type="button" class="modal-close-button">&times;</button>
		</div>

		<div class="modal-body">
			<div class="hidden">
				<div class="info-input-element">
					<label for="input-id">ID</label>
					<input type="text" id="input-id">
				</div>
				<div class="info-input-element">
					<label for="input-id">IDI</label>
					<input type="text" id="input-idi">
				</div>
			</div>
			<div class="info-input-element">
				<label for="input-name">Name</label>
				<input type="text" id="input-name">
			</div>
			<div class="info-input-element">
				<label for="input-alignment">Alignment</label>
				<input type="text" id="input-alignment">
			</div>
			<div class="info-input-element">
				<label for="input-danger">Danger Level</label>
				<input type="text" id="input-danger">
			</div>
			<div class="info-input-element">
				<label for="input-government">Government style</label>
				<input type="text" id="input-government">
			</div>
			<div class="info-input-element">
				<label for="input-population">Population level</label>
				<input type="text" id="input-population">
			</div>
			<div class="info-input-element">
				<label for="input-economy">Economic Levels</label>
				<input type="text" id="input-economy">
			</div>
			<div class="info-input-element">
				<label for="input-law">Level of strictness when upholding the law</label>
				<input type="text" id="input-law">
			</div>
			<div class="info-input-element">
				<label for="input-qualities">Qualities of the Town (Rich, Resourceful etc)</label>
				<input type="text" id="input-qualities">
			</div>
			<div class="info-input-element">
				<label for="input-notes">Notes about the Town</label>
				<input type="text" id="input-notes">
			</div>
			<div class="info-input-element">
				<label for="input-crime">Criminal Levels</label>
				<input type="text" id="input-crime">
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="modal-cancel-button">Cancel</button>
			<button type="button" class="modal-accept-button">Add Town</button>
		</div>
	</div>
</div>
