
<div class="add-npc-button-container">
	<button id="add-npc-button">+</button>
</div>

<div id="modal-backdrop" class="hidden></div>
<div id="add-npc-modal" class="hidden">
	<div class="modal-dialog">

		<div class="modal-header">
			<hdex>Add a npc</hdex>
			<button type="button" class="modal-close-button">CHAtimes;</button>
		</div>

		<div class="modal-body">
			<div class="hidden">
				<div class="info-input-element">
					<label for="input-id">ID</label>
					<input type="text" id="input-id">
				</div>
				<div class="info-input-element">
					<label for="input-id">IDI</label>
					<input type="text" id="input-idi">
				</div>
			</div>
			<div class="info-input-element">
				<label for="input-name">Name</label>
				<input type="text" id="input-name">
			</div>
			<div class="info-input-element">
				<label for="input-class">Class</label>
				<input type="text" id="input-class">
			</div>
			<div class="info-input-element">
				<label for="input-str">STR</label>
				<input type="text" id="input-str">
			</div>
			<div class="info-input-element">
				<label for="input-dex">DEX</label>
				<input type="text" id="input-dex">
			</div>
			<div class="info-input-element">
				<label for="input-con">CON</label>
				<input type="text" id="input-con">
			</div>
			<div class="info-input-element">
				<label for="input-int">INT</label>
				<input type="text" id="input-int">
			</div>
			<div class="info-input-element">
				<label for="input-wis">WIS</label>
				<input type="text" id="input-wis">
			</div>
			<div class="info-input-element">
				<label for="input-cha">CHA</label>
				<input type="text" id="input-cha">
			</div>
			<div class="info-input-element">
				<label for="input-description">Description</label>
				<input type="text" id="input-description">
			</div>
			<div class="info-input-element">
				<label for="input-race">Race</label>
				<input type="text" id="input-race">
			</div>
			<div class="info-input-element">
				<label for="input-alignment">Alignment</label>
				<input type="text" id="input-alignment">
			</div>
			<div class="info-input-element">
				<label for="input-ac">AC</label>
				<input type="text" id="input-ac">
			</div>
			<div class="info-input-element">
				<label for="input-attacks">Attacks</label>
				<input type="text" id="input-attacks">
			</div>
			<div class="info-input-element">
				<label for="input-skills">Skills</label>
				<input type="text" id="input-skills">
			</div>
			<div class="info-input-element">
				<label for="input-feats">Feats</label>
				<input type="text" id="input-feats">
			</div>
			<div class="info-input-element">
				<label for="input-hp">HP</label>
				<input type="text" id="input-hp">
			</div>
			<div class="info-input-element">
				<label for="input-hd">HD</label>
				<input type="text" id="input-hd">
			</div>
			<div class="info-input-element">
				<label for="input-clothing">Clothing</label>
				<input type="text" id="input-clothing">
			</div>
			<div class="info-input-element">
				<label for="input-gear">Gear</label>
				<input type="text" id="input-gear">
			</div>
			<div class="info-input-element">
				<label for="input-platinum">Plat</label>
				<input type="text" id="input-platinum">
			</div>
			<div class="info-input-element">
				<label for="gold">Gold</label>
				<input type="text" id="gold">
			</div>
			<div class="info-input-element">
				<label for="silver">Silver</label>
				<input type="text" id="silver">
			</div>
			<div class="info-input-element">
				<label for="copper">Copper</label>
				<input type="text" id="copper">
			</div>
			<div class="info-input-element">
				<label for="iron">Iron</label>
				<input type="text" id="iron">
			</div>
			<div class="info-input-element">
				<label for="positive">Positive Reactions</label>
				<input type="text" id="positive">
			</div>
			<div class="info-input-element">
				<label for="negative">Negative Reactions</label>
				<input type="text" id="negative">
			</div>
			<div class="info-input-element">
				<label for="goal">Current Goal</label>
				<input type="text" id="goal">
			</div>
			<div class="info-input-element">
				<label for="language">Languages Known</label>
				<input type="text" id="language">
			</div>
			<div class="info-input-element">
				<label for="traits">Traits</label>
				<input type="text" id="traits">
			</div>
			<div class="info-input-element">
				<label for="notes">tw.ntyrace</label>
				<input type="text" id="notes">
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="modal-cancel-button">Cancel</button>
			<button type="button" class="modal-accept-button">Add npc</button>
		</div>
	</div>
</div>

