{{>header}}

<main>
<section class="info">
<div class="modal-header">
         <button type="button" id="campaign-remove-button">&times;</button>
      </div>
   <h2>{{camp.name}}</h2>
   <div class="info-body">
   {{#if camp.notes}}
   <p><span class="label">Notes: </span>{{camp.notes}}</p>
   {{/if}}
   </div>
</section>
<section class="info">
   <h2>Towns</h2>
   <div class="info-body">
   <p><span id="select-town">Click here for towns</span></p>
   </div>
</section>
<section class="info">
   <h2>Locations</h2>
   <div class="info-body">
   <p><span id="select-location">Click here for Locations</span></p>
   </div>
</section>
<section class="info">
   <h2>NPCs</h2>
   <div class="info-body">
   <p><span id="select-npc">Click here for NPCs</span></p>
   </div>
</section>
<section class="info">
   <h2>Pictures</h2>
   <div class="info-body">
   <p><span id="select-picture">Click here for Pictures</span></p>
   </div>
</section>
</main>

{{>footer}}

