<section class="info">
   <h2>{{camp.name}}</h2>
   <div class="info-body">
   <p><span class="lable">Notes: </span>{{camp.notes}}</p>
   </div>
</section>
<section class="info">
   <h2>Towns</h2>
   <div class="info-body">
   <p><span class="select-town">Click for towns</span></p>
   </div>
</section>
<section class="info">
   <h2>Locations</h2>
   <div class="info-body">
   <p><span class="select-location">Click for Locations</span></p>
   </div>
</section>
<section class="info">
   <h2>NPCs</h2>
   <div class="info-body">
   <p><span class="select-npc">Click for NPCs</span></p>
   </div>
</section>
<section class="info">
   <h2>Picturess</h2>
   <div class="info-body">
   <p><span class="select-picture">Click for Pictures</span></p>
   </div>
</section>

