<header>

  <!-- The <i> tag below includes the sticky note icon from Font Awesome -->
  <h1>{{pageTitle}}</h1>

  <nav>
    <ul class="navbar-list">
      <li class="navbar-item"><a href="/">Home</a></li>
    </ul>
  </nav>

</header>
