{{>header}}
<main>
<div class="info">
	{{#each camppics}}
		<div class="photo-container">
			<img class="photo" src ="{{url}}">
			<p class="info">{{caption}}</p>
		</div>
	{{/each}}
</div>
</main>
{{>footer}}

{{>add-picture}}
