<!DOCTYPE html>
<html>
   <head>
   <title>{{title}}</title>
   <link rel="stylesheet" href="/style.css" media="screen">
   </head>
   <body>{{{body}}}</body>
   <script src="/index.js"></script>
   <script src="/make-campaign.js"></script>
   <script src="/make-location.js"></script>
   <script src="/make-npc.js"></script>
   <script src="/make-session.js"></script>
   <script src="/make-town.js"></script>
   <script src="/new-pic.js"></script>
</html>
