{{>header}}
<main>
<div class="info">
	<h2>Towns are an essential part of a story, but why not make a city? I'm sure you have the time!</h2>
	<h3>To know more about each town please click one</h3>
		<div class="select-container">
			<select id="town-select">
			<option value="" disabled selected>Select a town</option>
			{{#each camptows}}
				{{#if name}}
					<option value = {{@index}}>{{name}}</option>
				{{/if}}
			{{/each}}
			</select>
		</div>
</div>

</main>
{{>footer}}

{{>add-town}}
